{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('BanaBlack Admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'admin/img/logo.png' %}" height="40px" />
        BanaBlack Administration
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'admin/css/custom.css' %}">
{% endblock %}

{% block extrahead %}
<script src="{% static 'admin/js/custom.js' %}"></script>
{% endblock %}